body{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background-color: #f5f5f5;
    background-color: #f1f1f1;
    background-color: #f9f9f9;
    letter-spacing: .07em;
}

h3{
    font-family: 'Lato', sans-serif !important;
}

.breadcrumb {
    padding: 15px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;

}

.btn-default.focus, .btn-default:focus, .btn-default.hover,.btn-default:hover {
    color: #FFF;
    background-color: #525252;
    border-color: #FFF;
}

header.section-header{
    background-color: transparent;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-header span ~ h2, .section-header span ~ h3 {
    margin-top: 12px;
}
.section-header h2, .section-header h3 {
    font-family: 'Lato', sans-serif;
    position: relative;
    margin-bottom: 48px;
    color: #55595c;
    text-transform: capitalize;
    font-weight: 900;
}

.section-header h2::after, .section-header h3::after {
    position: absolute;
    left: 50%;
    margin-left: -24px;
    bottom: -16px;
    width: 48px;
    height: 2px;
    background-color: #f4645f;
    content: "";
}




header{
	background-color: #FFFFFF;
}

a{
  color: #f4645f;
}

a:hover{
  color: #f4645f;
}

.line-top{
	background-color: #E71E37; height: 6px;
}

.title h1{
	font-family: Lato, sans-serif;
	margin: 1px;
	padding: 1px;
	font-size: 30px;
	font-weight: 900;
	font-style:italic;
	color:#E71E37;
	letter-spacing: .04em !important;
}

h5.title{
    font-weight: 600 !important;
}

.nav-index{
    /*padding-bottom: 20px !important;
    background-color:  #ffb300;*/
    /*box-shadow-bottom: 1px 0 2px 2px rgba(42,42,42,.25);]*/
}

.nav-main {
    font-family: 'Lato', sans-serif; 
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 30px;  
    box-shadow-bottom: 1px 0 2px 2px rgba(42,42,42,.25);  
    border-top: 1px solid #E8C26C;   
    border-bottom: 1px solid #E8C26C;    
    letter-spacing: .14em; 
}

.nav-main::after, .nav-main::before {
    content: " ";            
}

.nav-main > li {            
    padding: 8px;
    font-size: 18px !important;
}
.nav-main > li, .nav-main > li > a {
    display: inline-block;
    position: relative;
    
    color: #FFF;            
    color:rgba(0,0,0,.87);
    color: #525252;
}

.nav-main > li > a:hover {
    color:#E71E37;
}

.site-footer {
    background-color: #525252;
    /*text-align: center;*/
    font-family: Lato,sans-serif;
    font-size: 13px;
    letter-spacing: .12em;
    font-weight: 500;
    padding: 60px 0;
    color:#FFF;
}

        .site-footer h6 {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.site-footer a{
  color: #fff;
}

.site-footer a:hover{
    color: #f4645f;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li:before {
    content: '- ';
}

.site-footer .social-icons {
    text-align: left;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons a.facebbok{
  color: #00aced;
}

.social-icons a.twitter{
  color: #00aced;
}

.social-icons a.ico{
  color: #f4645f;
}

.social-icons a.ico:hover {
    background-color: #FFF;
}

.login-block, .post header h2, .post header time, .read-more, .social-icons a, .team-member, .widget-title {
    text-align: center;
}

.card-header{
    font-weight: 600;
}

.sponsor_official{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-sponsor{
    max-width: 270px !important;
}

.carousel-control.left, .carousel-control.right {
background-image:none !important;
}
.carousel-inner .item img {
width:100%;
height:100%;
}
.carousel-indicators {
bottom:0px;
left:5px;
width:auto;
padding:2px 5px 2px 5px;
margin-left:0;
background:rgba(0,0,0,0.7);
}
.carousel-indicators li {
border-radius:0;
width:8px;
height:8px;
background:#fff;
}
.carousel-indicators .active {
width:10px;
height:10px;
background:#39b3d7;
border-color:#39b3d7;
}
 
.carousel-control {
background:    transparent;
color:#fff;
padding: 4px 0;
width:26px;
top:auto;   
left:auto;
bottom:0px;
opacity:0.85;
}
.carousel-control :hover {
    padding:4px;
    background:rgba(0,0,0,0.35);
}
.carousel-control.right {
right:10px;
}
 
.carousel-control.left {
right: 46px;
}
.carousel-caption {
top:auto;
width:auto;
right:auto;
bottom:60px;
left:10px;
padding:20px;
background:rgba(0,0,0,0.70);
text-align:left;
height:auto;
max-width:50%;
 
}

.cargador{background:#fff url('../image/ajax-loader.gif') no-repeat center center;}
.cargador img{display:none;}


.img-slider{
    height: auto !important;
}

@media all and (max-width:768px) {
    .sponsor_official{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width:320px) {
    .img-slider{
        height: 200px !important;
    }
}

