body{
  font-family: 'Lato', sans-serif !important;
  font-size: 13px;
}

.btn{
  font-weight: bold;
}

.breadcrumb {
    background-color: #ffffff;
    font-weight: bold;
}

.panel-heading{
  font-weight: bold;
  font-size: 18px;
}

.f-12{
	font-size: 12px !important;
}

.f-14{
    font-size: 14px !important;
}

.f-16{
    font-size: 16px !important;
}

.f-18{
    font-size: 18px !important;
}

.f-20{
    font-size: 20px !important;
}

.f-22{
    font-size: 22px !important;
}

.text-light{
  font-weight: 600 !important;
}

.text-bold{
  font-weight: 700 !important;
}

.text-semibold{
  font-weight: 600 !important;
}

.text-superbold{
  font-weight: 800 !important;
}

.text-megabold{
  font-weight: 900 !important;
}

.p-t-m-t-0{
  padding-top: 0px !important; 
  margin-top: 0px !important;
}

.m-r-10{
	margin-right: 10px; 
}

.p-5-10{
 padding: 5px 10px;
}

.p-t-25 {
  padding-top: 20px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-t-35 {
  padding-bottom: 35px !important;
}

.m-t-30{
  margin-top: 30px !important;
}

.m-t-35{
  margin-top: 35px !important;
}

.m-t-40{
  margin-top: 40px !important;
}

.m-t-45{
  margin-top: 45px !important;
}

.m-t-50{
  margin-top: 50px !important;
}

.m-b-20{
  margin-bottom: 20px !important;
}

.m-b-30{
  margin-bottom: 30px !important;
}

.m-b-35{
  margin-bottom: 35px !important;
}

.m-b-40{
  margin-bottom: 40px !important;
}

.m-b-45{
  margin-bottom: 45px !important;
}

.m-b-50{
  margin-bottom: 50px !important;
}

.bg-white{
  background-color: #ffffff !important;
}

.bg-gray{
  background-color: #f1f1f1 !important;
}

.btn-warning {
    color: #fff;
	background-color: #fabb3d;
	border-color: #fabb3d;
}


.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-sm {
    
    font-size: 13px;
    
}

.popover-content{
    text-align: center;
}

.popover-title {
    text-align: center;
    font-weight: bold !important;
}



.card {
    margin-bottom: 1.5rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dbdee0;
        border-top-width: 1px;
        border-top-color: rgb(219, 222, 224);
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f9f9f9;
    border-bottom: 1px solid #dbdee0;
}

.card-block {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-accent-primary {
    border-top-width: 2px;
    border-top-color: #36a9e1;
}

.card-accent-warning {
    border-top-width: 2px;
    border-top-color: #fabb3d;
}

.question-footer{
  background-color: #f4645f;
  color:#FFF;
}


